:root{
  --centerTop: 0%;
  --bee-path: path("M0,0 C400,-20 800,5 700,50");
  --bee-two-path: path("M 718 0 C 318 -20 -82 5 18 50"); 
}
.flower-wrapper{
  width: 100%;
}

.flower-container{
  display: flex;
  flex-direction: column;

  margin: 10% 10%;
}
.flower-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.stem {
  height: 80px; 
  z-index: -1;
} 

.flower-field{
  width: 100%;
  height: 100vh;
}

.flower-details{
  position: absolute;
}

.flower {
  position: relative;
  cursor: pointer;
}



.flower-center {
  position: relative;
  right: 15px;
  top: -10px;
  width: 25px;
  height: 25px;
  background-color: #FFE2AA;
  border-radius: 50%;
  border: #A1708A;
  z-index: 20 !important;
  cursor: pointer;
}

.extra-center {
  position: relative;
  top: 75px;
  left: -5px;
}


svg{
  position: relative;
  top: -20px;
 }

.petal-container {
  position: relative;
  top: -63px;
  left: 18px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -200;
}

.petal {
  position: absolute;
  transform-origin: 50% 100%;
  width: 15px;
  height: 60px;
  background-color: #f2b0cf; 
  border-radius: 50%;
  outline: 0.5px solid #a1708a;
  animation: none; /* Default no animation */
}

.petal.animate {
  animation: shrinkExpand 1s ease-in-out;
}

/* Animation for shrinking and expanding petals */
@keyframes shrinkExpand {
  0% {
    height: 60px;
    background-color: currentColor; /* Keep the current color */
  }
  50% {
    height: 0px;
    background-color: currentColor;
  }
  100% {
    height: 60px;
    background-color: var(--new-color); /* Change to the new color */
  }
}


.petal.africa{
  background-color: #90C9D8;
  outline: 0.5px solid #7AAAB7;
}


.petal.asia{
  background-color: #FF8A8A;
  outline: 0.5px solid #A1708A 
}

.petal.europe{
  background-color: #CCE2B9;
  outline: 0.5px solid #A5B898;
}

.petal.north-america{
  background-color: #FFB38E;
  outline: 0.5px solid #CD834B;
}

.petal.oceania{
  background-color: #E5B3D3;
  outline: 0.5px solid #BB94AF ;
}

.petal.south-america{
  background-color: #7286D3;
  outline: 0.5px solid #5A6BAC;
}

.petal.africa {
  --new-color: #90C9D8; /* Define color here */
}

.petal.asia {
  --new-color: #FF8A8A;
}

.petal.europe {
  --new-color: #CCE2B9;
}

.petal.north-america {
  --new-color: #FFB38E;
}

.petal.oceania {
  --new-color: #E5B3D3;
}

.petal.south-america {
  --new-color: #7286D3;
}
/* BEE AND PATH  */
.bee-wrapper {

 /* Ensure the path is always 80% of the container */
  overflow: hidden;
}

.bee {
  position: absolute;
  width: 30px; /* Adjust bee size */
  
}

.bee-one{
  top: 255px;
  margin-left: 250px;
  animation: moveBee 8s linear infinite;
  offset-path: var(--bee-path);
  offset-rotate: auto;
}

.bee-two{
  top: 480px; 
  transform: scaleY(-1);
  margin-left: 60px;
  animation: moveBee 8s linear infinite;
  offset-path: var(--bee-two-path);
  offset-rotate: auto;
}

@keyframes moveBee {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

.path{
  position: absolute;
  width: 80%;
  margin-left: 100px;
}

.path-one{
  top: 250px;
}

.path-two {
  top: 450px;
  left: -50px;
  transform: scaleX(-1);
  transform-origin: center top;
}

.path-wrapper{
  display: flex;
  justify-content: center;
}


/* HOVER CONTENT */
.hovered-div {
  z-index: 100;
  opacity: 0;               /* Start with invisible */
  transition: opacity 1s ease-in-out; /* Smooth fade-in and fade-out */
}

.hovered-div.active {
  opacity: 1;    
  transition: opacity 1s ease-in-out;            /* Fully visible when active */
}
.hovered-content p{
  margin: 0;
}