.sidenav-wrapper{
  margin-bottom: 32px;
}
.sidenav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -300px; /* Start outside the viewport */
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: right 0.5s ease; /* Smooth slide effect */
  padding-top: 20px;
  width: 300px; 

  justify-content: space-evenly;/* Sidebar width remains fixed */
}

.sidenav a {
  padding-top: 8px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  margin-bottom: 0px;
}

.sidenav p{
  font-size: 12px;
  margin: 15px 0 0 0;
}

.sidenav-container-wrapper{
  display: flex;
  flex-direction: column;
    
  justify-content: space-evenly;
  height: 90%;
  padding: 15px;
}

.sidenav-container{
  display: flex;
  align-items: baseline;
}


.sidenav-div div{
  width:120px;
  text-align: center;
  margin: 5px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-bottom: 0;
}

.sidenav img{
  max-height: 50px;
}

.sidenav-title {
  margin-top: 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 150;
}
.sidenav-title p {
  margin: 0 15px;
}

.sidenav-title img {
  height: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

